.table form {
    display: inline-block;
}

.btn-del {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 0;
}

.btn-del i {
    color: #3c8dbc;
}

.btn-del i:hover {
    opacity: 0.7;
}
